@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat|Playfair+Display+SC');

body{
    background-color:#A3BDF4;
    font-family:'Montserrat', sans-serif;
}
/* -----------------navbar */
.nav{
    background-color: rgba(0,0,0,.5);
    z-index:1;
    position:fixed;

}
nav li{
    text-decoration:none;
}
