@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat|Playfair+Display+SC');

body{
    background-color:#A3BDF4;
    font-family:'Montserrat', sans-serif;
}
/* -----------------navbar */
.nav{
    background-color: transparent;
}
nav li{
    text-decoration:none;
}